
/* HOME SCREEN */
.left-homescreen-container, .right-homescreen-container{
  display: inline-block;
}
.left-homescreen-container {
  float: left;
}
.right-homescreen-container {
  float: right;
}
/* EDIT SCREEN */
.left-container {
  display: inline-block;
}
.right-container {
  display: inline-block;
}
/* EDIT SCREEN > ELEMENT LIST */
.left-sidenav {
  position: fixed;
  top: 9%;
  left: 0;
  overflow: hidden;
}
.left-sidenav-control-container {
  text-align: center;
}
.left-sidenav-control-zoomIn, .left-sidenav-control-zoomOut, .left-sidenav-control-save, .left-sidenav-control-close {
  display: inline;
  text-align: center;
}
Button.button-small {
  vertical-align: center;
}