
/* LOGIN SCREEN */
.row {
  padding-top: 10px;
}
/* REGISTER SCREEN */
.register-container {
  text-align: center;
  margin: 2% 20%;
  padding: 10px;
  border: 5px solid silver;
  border-radius: 5px;
}

/* HOME SCREEN */
.left-homescreen-container {
  width: 30%;
}
.right-homescreen-container {
  width: 60%;
  border: 2px solid black;
  border-radius: 8px;
  margin: 20px;
  padding: 100px 150px;
  text-align: center;
  background-color: silver;
}
.right-homescreen-title {
  font-weight: bold;
}
Button.create-wireframe {
  font-weight: bold;
  border-radius: 8px;
}

/* HOME SCREEN > CARDLIST */
.WireFrameList {
  padding-left: 5px;
}

/* HOME SCREEN > CARDLIST > CARDITEM */
.cardItem {
  border: 2px solid silver;
  background-color: silver;
  border-radius: 2;
}

/* EDIT SCREEN */
.left-container {
  width: 20%;
  height: 200%;
}
.right-container {
  width: 60%;
  height: 200%;
  min-width: 500px;
  min-height: 500px;
}
.right-sidenav {
  background-color: gray;
  height: 200%;
  width: 20%;
  text-align: center;
}
.backgroundcolor-picker, .border-picker {
  margin-left: 25px;
}
.propertyCard {
  border: 1px solid white;
  margin: 2px;
  border-radius: 5px;
}
#label-textfield, #font-size-textfield, #border-thickness, #border-radius {
  background-color:white;
  width: 200px;
  color: black;
}
/* EDIT SCREEN > EDIT LIST */
.left-sidenav {
  background-color: gray;
  /* padding-top: 5px; */
  height: 200%;
  width: 20%;
}
.left-sidenav-control-container {
  padding: 10px 0;
  border: 2px solid silver;
}
.left-sidenav-control-zoomIn, .left-sidenav-control-zoomOut, .left-sidenav-control-save, .left-sidenav-control-close {
  width: 25%;
  height: 100px;
  padding: 5px 5px;
}
Button.glyphicon {
  font-size: 16px;
  border-radius: 100px;
  padding: 0px 10px;
}
Button.button-small {
  font-size: 10px;
  padding: 0px 10px;
  border-radius: 8px;
}
.left-sidenav-container-icon, .left-sidenav-label-icon, .left-sidenav-button-icon, .left-sidenav-textfield-icon {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0px;
  border: 1.5px solid black;
  border-radius: 8px;
  margin: 5px 5px;
}

