
/* HOME SCREEN */
.left-homescreen-container, .right-homescreen-container{
  display: inline-block;
}
.left-homescreen-container {
  float: left;
}
.right-homescreen-container {
  float: right;
}
.WireFrameCard {
  display: inline-block;
}
.delete-content {
  display: inline-block;
}
/* EDIT SCREEN */
.left-container {
  display: inline-block;
}
.right-container {
  position: relative;
  overflow: 'auto';
  display: inline-block;
}
/* EDIT SCREEN > ELEMENT LIST */
.left-sidenav {
  position: absolute;
  top: 9%;
  left: 0;
  overflow: hidden;
  z-index: 1;
}
.left-sidenav-control-container {
  text-align: center;
}
.left-sidenav-control-zoomIn, .left-sidenav-control-zoomOut, .left-sidenav-control-save, .left-sidenav-control-close {
  display: inline;
  text-align: center;
}
Button.button-small {
  vertical-align: center;
}

/* EDIT SCREEN > ELEMENT PROPERTY */
.right-sidenav {
  position: absolute;
  top: 9%;
  right: 0;
  overflow: hidden;
  z-index: 1;
}